@import '~bootstrap/scss/bootstrap';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding: 10px;

}
.box {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-size: 70px;
  vertical-align: middle;
}

.container {
  height: 500px;
  width: 300px;
}
